<% content_for :head do %>
  <style type="text/css">
    .field-unit.field-hide {display: none!important;}
  </style>
<% end %>

<% if action_name == "new" or action_name == "create" %>
  <div class="field-unit__label">
    <%= f.label field.attribute %>
  </div>
  <div class="field-unit__field">
    <%- if field.options.key?(:default) and field.options[:default] == :current_store %>
      <%= f.text_field field.attribute, value: current_user.try(:store).try(:name), disabled:true %>
      <%= f.hidden_field field.attribute, value: current_user.try(:store).try(:id) %> 
    <% else %>
      <%= f.text_field field.attribute, value: field.options[:value], disabled:true %>
      <%= f.hidden_field field.attribute, value: field.options[:value] %>
    <% end %>
  </div>
<% else %>
  <div class="field-unit__label">
    <%= f.label field.attribute %>
  </div>
  <div class="field-unit__field">
    <% if field.default_value.blank? %>
      <%= f.text_field field.attribute, value: field.options[:value], disabled:true %>
      <%= f.hidden_field field.attribute, value: field.options[:value] %>

    <% else %>
      <%= f.text_field field.attribute, value: field.default_value, disabled:true %>
      <%= f.hidden_field field.attribute, value: field.default_value %>
    <% end %>
  </div>
<% end %>
