<% if action_name == "new" or action_name == "create" %>
  <% if field.options[:type] != "has_many" %>  
    <div class="field-unit__label">
      <%= f.label field.attribute %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field field.attribute, value: field.default_value(current_user, :name), disabled:true %>
      <%= f.hidden_field field.attribute, value: field.default_value(current_user, :id) %>

    </div>
  <% end %>
<% else %>

  <div class="field-unit__label">
    <%= f.label field.attribute %>
  </div>
  <div class="field-unit__field">
    <%= f.text_field field.attribute, value: field.default_value(current_user.userable, :name), disabled:true %>
    <%= f.hidden_field "account_ids[]", :multiple => true, value: field.default_value(current_user.userable, :id) %>
  </div>

<% end %>