<% content_for(:title) do %>
<%= display_resource_name(page.resource_name) %>
<% end %>

<% content_for(:stylesheet) do %>
<style type="text/css">
  .main-content__body {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  [data-administrate-ransack-filters] {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
  }

  [data-administrate-ransack-filters] .filter {
    margin-bottom: 10px;
    width: 96%;

  }

  [data-administrate-ransack-filters] .filters-buttons {
    margin-top: 30px;
  }
</style>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
  <%= render(
    "search",
    search_term: search_term,
    resource_name: display_resource_name(page.resource_name)
    ) %>
  <% end %>

  <div>
    <%= link_to(
        t(
          "administrate.actions.new_resource",
          name: page.resource_name.titleize.downcase
          ),
        [:new, namespace, page.resource_path.to_sym],
        class: "button",
          ) if valid_action?(:new) && show_action?(:new, new_resource) %>
  </div>
</header>


<div class='main_content_sidebar' style="">
  <div class="wrapper d-flex align-items-stretch">

    <nav id="sidebar" class="order-last active">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="search">
        <% 
                  customers = current_user.userable.administrator? ? Customer.all.map{|t| [t.name, t.id]} : current_user.store.customers.map{|t| [t.name, t.id]}
                  namespace = local_assigns[:namespace] || :admin 
                  attribute_types = {
                  name: Administrate::Field::Select.with_options(collection: customers), 
                  store_id: Administrate::Field::Select.with_options(collection: Store.all.map{|t| ["#{t.name} - ##{t.id}", t.id]}), 
                } %>

        <% if defined?(attribute_types_custom) %>
        <% attribute_types = attribute_types_custom.merge(attribute_types.merge) %>
        <% end %>
        <%= render('administrate_ransack/filters', attribute_types: attribute_types, options: { tags: 'select' }, namespace: namespace ) %>
      </div>
    </nav>


    <div id="content" class="">
      <section class="main-content__body main-content__body--flush">


        <%= render(
                  "collection",
                  collection_presenter: page,
                  collection_field_name: resource_name,
                  page: page,
                  resources: resources,
                  table_title: "page-title"
                  ) %>

        <%= paginate resources %>
      </section>

    </div>
  </div>
</div>
<% content_for :javascript do %>
<script>
  (function($) {
    "use strict";

    if (($.session.get("sidebarCollapse")) == 'true') {
      $('#sidebar').toggleClass('active');
    }

    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').toggleClass('active');
      if ($('#sidebar').hasClass('active')) {
        $.session.set("sidebarCollapse", false);
      } else {
        $.session.set("sidebarCollapse", true);
      }
    });

  })(jQuery);
</script>
<% end %>