<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @sign.currency %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @sign.tp %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @sign.sp %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sign.price %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @sign.kind %>
</p>

<%= link_to 'Edit', edit_sign_path(@sign) %> |
<%= link_to 'Back', signs_path %>
