<div class="field-unit__label">
  <%= f.label field.attribute, for: "#{f.object_name}_#{field.attribute}" %>
</div>
<div class="field-unit__field">
  <% if action_name.in? ["edit", "create"] %>
    <% if f.object.send(field.attribute) == "owner" %>
      <%= f.text_field field.attribute, value: f.object.send(field.attribute), disabled: true %>
      <%= f.hidden_field field.attribute, value: f.object.send(field.attribute) %>
    <% else %>
      <% field.default_values.each do |checkbox| %>
        <% default_checked_condition = checkbox.try(:to_sym) == field.options[:default] %>
        <% edit_checked_condition = checkbox.try(:to_sym) == f.object.send(field.attribute).try(:to_sym) %>
        <% checked_condition = action_name == "new" ? default_checked_condition : edit_checked_condition %>
        <%= f.radio_button field.attribute, checkbox, checked: checked_condition %>
        <%= checkbox %>
      <% end %>
    <% end %>
  <% else %>
    <% field.default_values.each do |checkbox| %>
      <%= f.radio_button field.attribute, checkbox, checked: (checkbox.try(:to_sym) == field.options[:default].to_sym) %>
      <%= checkbox %>
    <% end %>
  <% end %>
</div>
