<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%= content_for?(:title) ? yield(:title) : "Copy MetaTrader" %></title>

    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta property="og:title" content="IImentore | Robo | Investimentos">
    <meta property="og:url" content="https://www.imentore.com.br/">
    <meta property="og:description" content="Copie e Gerencie os seus de robos, sinais, operações manuais de forma automática.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.imentore.com.br/site_thumbnail.png">
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon icon -->

	<%= stylesheet_link_tag  'mintone', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag "mintone" %>
	<%= yield(:header)%>

</head>
<body>
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<!-- [ Header ] start -->


	<div class="content-main  container">


		<!-- [ Main Content ] start -->
		<div class="pcoded-main-container">
		    <div class="pcoded-content">
		        <%= content_for?(:content) ? yield(:content) : yield %>
		    </div>
		</div>
	<!-- [ Main Content ] end -->
    </div>
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->

<!-- Apex Chart -->

<%= content_for :footer %>

<script>
  $(document).ready(function(){
    $(function() {
        var start = moment($('input[name="datefilter"]').val().split(" - ")[0], "DD/MM/YYYY");
        var end =   moment($('input[name="datefilter"]').val().split(" - ")[1], "DD/MM/YYYY");

        function cb(start, end) {
            $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            autoUpdateInput: false,
            locale: {
                format: 'DD/MM/YYYY',
                cancelLabel: 'Clear'
            },
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          $('input[name="datefilter"]').val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));

        });

        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          $('input[name="datefilter"]').val('');
          $('#reportrange span').html('');
        });

        cb(start, end);
    });
  });

</script>
<!-- custom-chart js -->

</body>

</html>