<!DOCTYPE html>
<html class="h-full antialiased">
   <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Copy MetaTrader" %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  'tailwind', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= yield(:header)%>
  </head>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen ">

    <header>


      <% if flash.any? %>
        <div class="bg-yellow-100 rounded-lg py-5 px-6 mb-4 text-base text-yellow-700 mb-3" role="alert">
          <% flash.each do |key, value| -%>
            <% next unless value.respond_to?(:html_safe) %>
              <%= value.html_safe %>
          <% end -%>
      <% end -%>
        <!-- Code block ends -->
        
      <%= render "layouts/tailwind/navbar" %>
    </header>

    <main class="flex-grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>



